<settings xmlns="http://maven.apache.org/settings/1.0.0">
    <servers>
        <!--
        Below are the credentials to access Talend's Nexus.
        -->
        <server>
            <id>snapshots</id>
            <username>development</username>
            <password>dev123</password>
        </server>
        <server>
            <id>releases</id>
            <username>development</username>
            <password>dev123</password>
        </server>
    </servers>
</settings>
