priority "deny";

grant {
  permission java.security.AllPermission;
};

// for preview runner
deny codebase "file:/opt/docker/lib/org.python.jython-standalone-2.7.0.jar" {
  permission java.io.FilePermission "/-", "read, write, delete, execute";
  permission java.lang.RuntimePermission "accessClassInPackage.*";
  permission java.net.SocketPermission "*:1-", "accept, connect, listen, resolve";
};

// for livy
deny codebase "file:/opt/datastreams-deps/jython-standalone-2.7.0.jar" {
  permission java.io.FilePermission "/-", "read, write, delete, execute";
  permission java.lang.RuntimePermission "accessClassInPackage.*";
  permission java.net.SocketPermission "*:1-", "accept, connect, listen, resolve";
};
